<template>
  <div class="flex flex-col items-start lg:flex-row lg:items-center justify-between">
    <div class="flex flex-col items-start lg:flex-row lg:items-center lg:space-x-4">
      <div class="flex flex-col items-start min-w-[300px] px-8 rounded-t-md bg-gray-50 text-primary-500 py-2 border-b-4 border-b-yellow-400 shadow-md">
        <span class="text-xl leading-none">ถาม-ตอบ</span>
        <span class="text-xs leading-none">Q&A</span>
      </div>
      <div class="flex items-center">
        <DropDownMenu label="หลักสูตรบังคับ" class="my-3 mr-3" />
        <Button variant="secondary" label="หลักสูตรทั่วไป" />
      </div>
    </div>
    <Sorter label="จัดเรียง" />
  </div>
  <RoundedBox shadow class="m-1 p-5">
    <div class="flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-20 px-4 pb-4 border-b-2 border-semantic-warning">
      <Radio icon="fa-video" label="ห้องเรียนออนไลน์ (วิดีโอ)"></Radio>
      <Radio icon="fa-chalkboard-user" label="ห้องเรียนออนไลน์ (สด)"></Radio>
      <Radio icon="fa-television" label="อบรมทางไกล"></Radio>
      <Radio icon="fa-school" label="ห้องเรียน"></Radio>
    </div>
    <CourseHeader />
    <div class="h-[1.5px] w-full bg-gray-300 my-2" />
    <QuestionAnswerView content="Test content Test content Test content Test content Test contentTest contentvTest content" timestamp="12.00 am" commentType="question">
      <QuestionAnswerView content="TTest content Test content Test content Test content Test content Test contentTest content" timestamp="12.00 am" commentType="answer" />
      <QuestionAnswerView content="TTest content Test content Test content Test content Test content Test contentTest content" timestamp="12.00 am" commentType="answer" >
        <QuestionAnswerView content="TTest content Test content Test content Test content Test content Test contentTest content" timestamp="12.00 am" commentType="answer" />
      </QuestionAnswerView>
    </QuestionAnswerView>
    <p class="py-4">ตั้งคำถามใหม่</p>
    <textarea class="w-full p-3 rounded-md border-2 border-gray-300" />
    <div class="flex justify-between my-6">
      <Button class="w-[150px]" label="ยกเลิก" variant="delete" />
      <Button class="w-[150px]" label="ส่ง" />
    </div>
  </RoundedBox>
</template>

<script setup>
import DropDownMenu from '../../components/DropDownMenu.vue';
import RoundedBox from '../../components/RoundedBox.vue';
import QuestionAnswerView from '../../components/CommentView/QuestionAnswerView.vue';
import Button from '../../components/Button.vue';
import CourseHeader from './components/CourseHeader.vue';
import Sorter from "../../components/Sorter.vue";
import Radio from '../../components/Inputs/Radio.vue'
</script>
