@font-face {
  font-family: 'DB Sathorn X';
  src: url('../fonts/db-sathorn-x/DBSathornX-BoldItalic.woff2') format('woff2'),
      url('../fonts/db-sathorn-x/DBSathornX-BoldItalic.woff') format('woff'),
      url('../fonts/db-sathorn-x/DBSathornX-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DB Sathorn X';
  src: url('../fonts/db-sathorn-x/DBSathornX-Bold.woff2') format('woff2'),
      url('../fonts/db-sathorn-x/DBSathornX-Bold.woff') format('woff'),
      url('../fonts/db-sathorn-x/DBSathornX-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DB Sathorn X';
  src: url('../fonts/db-sathorn-x/DBSathornX-Italic.woff2') format('woff2'),
      url('../fonts/db-sathorn-x/DBSathornX-Italic.woff') format('woff'),
      url('../fonts/db-sathorn-x/DBSathornX-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DB Sathorn X';
  src: url('../fonts/db-sathorn-x/DBSathornX-Medium.woff2') format('woff2'),
      url('../fonts/db-sathorn-x/DBSathornX-Medium.woff') format('woff'),
      url('../fonts/db-sathorn-x/DBSathornX-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DB Sathorn X';
  src: url('../fonts/db-sathorn-x/DBSathornX-MediumItalic.woff2') format('woff2'),
      url('../fonts/db-sathorn-x/DBSathornX-MediumItalic.woff') format('woff'),
      url('../fonts/db-sathorn-x/DBSathornX-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DB Sathorn X';
  src: url('../fonts/db-sathorn-x/DBSathornX.woff2') format('woff2'),
      url('../fonts/db-sathorn-x/DBSathornX.woff') format('woff'),
      url('../fonts/db-sathorn-x/DBSathornX.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DB ThaiText X';
  src: url('../fonts/db-thai-text-x/DBThaiTextX-Italic.woff2') format('woff2'),
      url('../fonts/db-thai-text-x/DBThaiTextX-Italic.woff') format('woff'),
      url('../fonts/db-thai-text-x/DBThaiTextX-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DB ThaiText X';
  src: url('../fonts/db-thai-text-x/DBThaiTextX-BoldItalic.woff2') format('woff2'),
      url('../fonts/db-thai-text-x/DBThaiTextX-BoldItalic.woff') format('woff'),
      url('../fonts/db-thai-text-x/DBThaiTextX-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DB ThaiText X';
  src: url('../fonts/db-thai-text-x/DBThaiTextX-Bold.woff2') format('woff2'),
      url('../fonts/db-thai-text-x/DBThaiTextX-Bold.woff') format('woff'),
      url('../fonts/db-thai-text-x/DBThaiTextX-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DB ThaiText X';
  src: url('../fonts/db-thai-text-x/DBThaiTextX.woff2') format('woff2'),
      url('../fonts/db-thai-text-x/DBThaiTextX.woff') format('woff'),
      url('../fonts/db-thai-text-x/DBThaiTextX.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DB ThaiText X';
  src: url('../fonts/db-thai-text-x/DBThaiTextX-LightItalic.woff2') format('woff2'),
      url('../fonts/db-thai-text-x/DBThaiTextX-LightItalic.woff') format('woff'),
      url('../fonts/db-thai-text-x/DBThaiTextX-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DB ThaiText X';
  src: url('../fonts/db-thai-text-x/DBThaiTextX-Light.woff2') format('woff2'),
      url('../fonts/db-thai-text-x/DBThaiTextX-Light.woff') format('woff'),
      url('../fonts/db-thai-text-x/DBThaiTextX-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
