<template>
  <FullCalendar :options="calendarOptions">
    <template v-slot:eventContent="arg">
      <div class="flex flex-col lg:flex-row lg:items-center lg:space-x-1">
        <div class="flex items-center space-x-1">
          <i
            :class="`fa-solid ${arg.event.extendedProps.icon} text-primary-500 text-[10px]`"
          ></i>
          <div class="hidden lg:block text-semantic-warning">|</div>
        </div>
        <span class="hidden lg:block text-primary-500">{{
          arg.event.title
        }}</span>
      </div>
    </template>
  </FullCalendar>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import FullCalendar, { CalendarOptions, EventApi } from "@fullcalendar/vue3";
import dayGridPlugin from "@fullcalendar/daygrid";
import timeGridPlugin from "@fullcalendar/timegrid";
import interactionPlugin from "@fullcalendar/interaction";
import listPlugin from "@fullcalendar/list";
import "@fullcalendar/core/vdom";

export default defineComponent({
  components: { FullCalendar },
  data() {
    return {
      calendarOptions: {
        plugins: [dayGridPlugin, timeGridPlugin, interactionPlugin, listPlugin],
        locale: "th",
        dayHeaderContent: (args) => {
          const th = args.date
            .toLocaleDateString("th", { weekday: "long" })
            .replace("วัน", "");
          const en = args.date.toLocaleDateString("en", { weekday: "short" });

          return {
            html: `
              <div class="flex flex-col">
                <span class="text-xs font-medium">${th}</span>
                <span class="text-secondary-400 font-medium">${en}</span>
              </div>
            `,
          };
        },
        headerToolbar: {
          left: "prev",
          center: "title",
          right: "next",
        },
        initialView: "dayGridMonth",
        initialEvents: [
          {
            id: 1,
            icon: "fa-video",
            title: "13:00 [บังคับ] ชื่อวิชา",
            start: new Date().toISOString().replace(/T.*$/, ""),
          },
          {
            id: 2,
            icon: "fa-school",
            title: "13:00 [บังคับ] ชื่อวิชา",
            start: new Date().toISOString().replace(/T.*$/, "") + "T12:00:00",
          },
          {
            id: 3,
            icon: "fa-chalkboard-user",
            title: "13:00 [บังคับ] ชื่อวิชา",
            start: new Date().toISOString().replace(/T.*$/, "") + "T12:00:00",
          },
          {
            id: 4,
            icon: "fa-television",
            title: "13:00 [บังคับ] ชื่อวิชา",
            start: new Date().toISOString().replace(/T.*$/, "") + "T12:00:00",
          },
        ],
        editable: false,
        selectable: false,
        selectMirror: false,
        dayMaxEvents: false,
        weekends: true,
        contentHeight: "auto",
        /* you can update a remote database when these fire:
        eventAdd:
        eventChange:
        eventRemove:
        */
      } as CalendarOptions,
      currentEvents: [] as EventApi[],
    };
  },
});
</script>

<style>
.fc .fc-button-primary,
.fc .fc-button-primary:hover,
.fc .fc-button-primary:focus,
.fc .fc-button-primary:active {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.fc-icon {
  color: #002f93;
}

.fc-toolbar-title {
  font-weight: 500;
  color: #e9a546;
}

.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard td,
.fc-theme-standard th,
.fc-theme-standard .fc-list {
  border: none;
}

.fc-theme-standard .fc-list-day-cushion {
  background: #e4edfe;
  margin-bottom: 20px;
}

.fc-scroller-harness {
  background: white;
  border-radius: 40px;
  box-shadow: -1px 10px 16px -2px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: -1px 10px 16px -2px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -1px 10px 16px -2px rgba(0, 0, 0, 0.09);
  margin-bottom: 20px;
}

.fc .fc-col-header-cell {
  padding: 20px 0;
  color: #002f93;
}

.fc-col-header-cell.fc-day-sun {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background: #e4edfe;
}

.fc-col-header-cell.fc-day-sat {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  background: #e4edfe;
}

.fc-theme-standard td {
  padding: 3px;
}

.fc-daygrid-day-frame {
  padding: 10px;
  border-radius: 10px;
  background: #ffffff;
  box-shadow: -1px 10px 16px -2px rgba(0, 0, 0, 0.09);
  -webkit-box-shadow: -1px 10px 16px -2px rgba(0, 0, 0, 0.09);
  -moz-box-shadow: -1px 10px 16px -2px rgba(0, 0, 0, 0.09);
}

.fc-h-event,
.fc-h-event:hover,
.fc-daygrid-dot-event:hover,
.fc-daygrid-dot-event.fc-event-mirror {
  background: transparent !important;
  border: transparent !important;
}

.fc .fc-daygrid-day.fc-day-today {
  background: transparent;
}

.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  overflow: hidden;
}

.fc-daygrid-event {
  white-space: break-spaces;
}

.fc .fc-daygrid-body-natural .fc-daygrid-day-events {
  margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
  .fc .fc-daygrid-body-natural .fc-daygrid-day-events {
    margin-bottom: 1em;
  }
}
</style>
