<template>
  <RoundedBox shadow class="m-1 p-4 flex flex-col space-y-4">
    <div class="flex flex-col space-y-6 lg:space-y-0 lg:flex-row items-center">
      <div class="col-span-12 xl:col-span-4 relative">
        <circle-progress :percent="50" size="130" fill-color="#002F93" empty-color="#8B8FA0" :gradient="{ angle: 0 }" class="m-auto" />
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
          <p class="text-4xl text-primary-500 font-light leading-none">50%</p>
        </div>
      </div>
      <p class="text-center lg:text-left text-2xl text-primary-500 leading-none">หลักสูตรบังคับขอต่อใบอนุญาตตัวแทน</p>
    </div>
    <div class="w-full flex flex-col lg:flex-row items-center lg:items-start justify-between border-t-2 border-b-2 border-semantic-warning py-2">
      <p class="text-gray-700 text-md">จำนวนเวลาเรียน 2.30 ชั่วโมง</p>
      <p class="text-md">ท่านเรียนไปแล้ว 2 ขั่วโมง</p>
    </div>
    <div>
      <template v-for="i in 6" :key="i">
        <div :class="i < 4 ? 'text-primary-500' : 'text-gray-500'" class="py-4 border-b last:border-b-0 border-thirdary-200">
          <i class="fa-solid fa-circle-check mr-4"></i>
          <span class="text-sm">{{ i}}.) ชื่อบทเรียน</span>
        </div>
      </template>
    </div>
  </RoundedBox>
</template>

<script setup>
import "vue3-circle-progress/dist/circle-progress.css";
import CircleProgress from "vue3-circle-progress";
import RoundedBox from '../../../components/RoundedBox.vue';
</script>