<template>
  <label class="w-full">
    <p class="text-primary-500 text-sm">{{ label }}</p>
    <Datepicker v-model="date" type="date" locale="th" input-class-name="w-full focus:outline-none border-b-1 border-t-0 border-x-0 border-b-primary-500 bg-transparent rounded-none h-10"></Datepicker>
  </label>
</template>

<script>
import { defineComponent } from "vue";
import Datepicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'

export default defineComponent({
  components: { Datepicker },
  props: {
    date: null,
    label: String,
  }
})
</script>