<template>
  <label class="w-full">
    <p class="text-primary-500 text-sm">{{ label }}</p>
    <input type="type" class="w-full focus:outline-none border-b border-primary-500 bg-transparent h-10 text-md w-full" />
  </label>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    label: String,
    type: String
  }
})
</script>