<template>
  <label class="flex items-center space-x-3 cursor-pointer">
    <input type="radio" class="border-1" aria-label="hello world" />
    <i v-if="icon" :class="`text-primary-500 fa-solid ${icon} leading-none -mt-1`"/>
    <span class="text-primary-500 text-xs leading-none">{{ label }}</span>
  </label>
</template>

<script>
export default {
  props: {
    label: {
      type: String,
      required: true
    },
    icon: {
      type: String,
      default: null,
    },
  }
}
</script>

<style>
input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: #002F93;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #002F93;
  border-radius: 50%;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  border-radius: 50%;
  transform: scale(0);
  background-color: #002F93;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}
</style>