<template>
  <label class="w-full">
    <p class="text-primary-500 text-md">{{ label }}</p>
    <select class="w-full focus:outline-none border-b-primary-500 text-md border-b bg-transparent h-10">
      <option>test</option>
      <option>test</option>
      <option>test</option>
      <option>test</option>
    </select>
  </label>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    label: String,
  }
})
</script>