<template>
  <h3 class="text-medium text-primary-500 text-xl mb-3">ข้อมูลบัญชีผู้ใช้</h3>
  <AccountInfo />
  <div class="flex flex-col lg:flex-row mt-5">
    <div class="w-full lg:w-[67%] mr-2">
      <OverallProgress class="mb-5" />
      <SectionCard title="หลักสูตรที่กำลังเรียน (30)" class="mb-5">
        <p class="text-xl font-light mt-6 mb-2">Pillar 1</p>
        <div class="grid lg:grid-cols-2 gap-4">
          <CourseCard previewImageURL="https://www.olympusimaging-th.com/content/000107507.jpg" :percent="40" />
          <CourseCard previewImageURL="https://www.olympusimaging-th.com/content/000107507.jpg" :percent="70" />
        </div>
        <p class="text-xl font-light mt-6 mb-2">Pillar 1</p>
        <div class="grid lg:grid-cols-2 gap-4">
          <CourseCard previewImageURL="https://www.olympusimaging-th.com/content/000107507.jpg" :percent="40" />
          <CourseCard previewImageURL="https://www.olympusimaging-th.com/content/000107507.jpg" :percent="70" />
        </div>
        <p class="text-xl font-light mt-6 mb-2">Pillar 1</p>
        <div class="grid lg:grid-cols-2 gap-4">
          <CourseCard previewImageURL="https://www.olympusimaging-th.com/content/000107507.jpg" :percent="40" />
          <CourseCard previewImageURL="https://www.olympusimaging-th.com/content/000107507.jpg" :percent="70" />
        </div>
        <div class="text-right mt-5">
          <router-link to="#" class="space-x-5">
            <span class="underline text-primary-500 text-xs">ดูหลักสูตรที่กำลังเรียนทั้งหมด</span>
            <i class="fa-solid fa-plus text-primary-500 text-[12px]"></i>
          </router-link>
        </div>
      </SectionCard>
      <SectionCard title="หลักสูตรที่เรียนจบแล้ว (30)" class="mb-5">
        <div class="grid lg:grid-cols-2 gap-4">
          <CourseCard previewImageURL="https://www.olympusimaging-th.com/content/000107507.jpg" :percent="100" />
          <CourseCard previewImageURL="https://www.olympusimaging-th.com/content/000107507.jpg" :percent="100" />
          <CourseCard previewImageURL="https://www.olympusimaging-th.com/content/000107507.jpg" :percent="100" />
          <CourseCard previewImageURL="https://www.olympusimaging-th.com/content/000107507.jpg" :percent="100" />
        </div>
        <div class="text-right mt-5">
          <router-link to="#" class="space-x-5">
            <span class="underline text-primary-500 text-xs">ดูหลักสูตรที่กำลังเรียนทั้งหมด</span>
            <i class="fa-solid fa-plus text-primary-500 text-[12px]"></i>
          </router-link>
        </div>
      </SectionCard>
    </div>
    <Calendar class="w-full lg:w-[30%] lg:ml-2" />
  </div>
</template>

<script setup>
import AccountInfo from "../../components/AccountInfo.vue";
import Calendar from "./Calendar/index.vue";
import CourseCard from "../../components/CourseCard.vue";
import SectionCard from "../../components/SectionCard.vue";
import OverallProgress from "./OverallProgress.vue";
</script>