<template>
  <SectionCard title="ความคืบหน้าของการเรียน" class="pb-10">
    <div class="block space-y-8 lg:space-y-0 lg:grid grid-cols-12 items-center gap-8">
      <div class="col-span-12 xl:col-span-8 flex flex-col space-y-1">
        <OverallProgessBar percent="60" label="ชั่วโมงเรียนบังคับ. 60 ชั่วโมง" prefix="เรียนไปแล้ว 20 ชั่วโมง" is-big />
        <OverallProgessBar percent="60" label="หมวดวิชา Pillar 1, 20 ชั่วโมง" prefix="เรียนไปแล้ว 30 ชั่วโมง" />
        <OverallProgessBar percent="60" label="หมวดวิชา Pillar 2, 20 ชั่วโมง" prefix="เรียนไปแล้ว 40 ชั่วโมง" />
        <OverallProgessBar percent="60" label="หมวดวิชา Pillar 3, 20 ชั่วโมง" prefix="เรียนไปแล้ว 50 ชั่วโมง" />
      </div>
      <div class="col-span-12 xl:col-span-4 relative">
        <circle-progress :percent="40" size="250" border-width="25" border-bg-width="25" fill-color="#002F93" empty-color="#8B8FA0" :gradient="{ angle: 0 }" class="m-auto" />
        <div class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center">
          <p class="text-5xl text-primary-500 font-light leading-none">35 ชม.</p>
          <p class="text-xs font-light text-gray-600">ชั่วโมงเรียนทั่วไป</p>
        </div>
      </div>
    </div>
  </SectionCard>
</template>

<script>
import { defineComponent } from "vue"
import SectionCard from "../../components/SectionCard.vue"
import OverallProgessBar from "../../components/OverallProgressBar.vue"
import CircleProgress from "vue3-circle-progress"
import "vue3-circle-progress/dist/circle-progress.css"

export default defineComponent({
  components: { SectionCard, OverallProgessBar, CircleProgress }
})
</script>