<template>
  <div v-if="commentType === 'question'" class="flex w-[50px] h-[50px] rounded-full text-white bg-primary-500 p-4 justify-center items-center text-lg lg:text-2xl">Q</div>
  <div v-else class="flex w-[35px] h-[35px] rounded-full text-primary-500 bg-white shadow-lg items-center justify-center text-lg lg:text-xl p-2 leading-snug">A</div>
</template>

<script>
import { defineComponent } from 'vue'

export default defineComponent({
  props: {
    commentType: String
  }
})
</script>