<template>
  <div class="p-3">
    <Carousel />
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 xl:col-span-9">
        <CourseDetailCard />
        <TabView variant="secondary" :tabs="[{ label: 'รายละเอียดหลักสูตร', suffix: 'Course Details' }, { label: 'ถาม-ตอบ', suffix: 'Q&A' }]" class="mt-5" />
        <RoundedBox shadow class="flex flex-col p-3">
          <CourseDescription />
        </RoundedBox>
      </div>
      <CourseAvailability class="col-span-12 xl:col-span-3" />
    </div>
    <h3 class="text-primary-500 text-xl my-5">หลักสูตรแนะนำ</h3>
    <div class="grid lg:grid-cols-3 mt-5">
      <div v-for="i in 3" :key="i">
        <CourseCard previewImageURL="https://www.olympusimaging-th.com/content/000107507.jpg" :price="500" button="สมัครเลย" />
      </div>
    </div>
  </div>
</template>

<script setup>
import Carousel from '../../components/Carousel.vue';
import CourseDetailCard from '../../components/CourseDetailCard.vue';
import TabView from '../../components/TabView.vue';
import CourseAvailability from '../../components/CourseAvailability.vue';
import QuestionAnswerView from '../../components/CommentView/QuestionAnswerView.vue';
import RoundedBox from '../../components/RoundedBox.vue';
import PaginationControl from '../../components/PaginationControl.vue';
import CourseCard from '../../components/CourseCard.vue';
import CourseDescription from '../../components/CourseDescription.vue';</script>