<template>
    <div class="flex">
        <CommentBadge commentType="question" class="mr-3" />
        <textarea class="w-[60%] p-3 rounded-md border-2 border-primary-500 bg-blue-50" />
        <i class="w-[20%] fa-regular fa-paper-plane text-primary-500 text-3xl hover:opacity-50 hover:cursor-pointer self-end mx-3"></i>
    </div>
</template>
<script setup>
import CommentBadge from './components/CommentBadge.vue';
</script>