<template>
  <div v-if="commentType === 'question'">
    <div class="flex flex-col lg:flex-row items-start p-5">
      <CommentBadge :commentType="commentType" class="mr-4" />
      <div class="flex flex-col">
        <p class="text-primary-500 text-lg">{{ content }}</p>
        <p class="text-xs italic text-secondary-400">{{ timestamp }}</p>
      </div>
    </div>
    <div class="lg:ml-20">
      <slot />
      <div class="w-full bg-gray-300 h-[1px] mb-5 mt-10" />
    </div>
  </div>
  <RoundedBox shadow v-else class="flex flex-col space-y-2 lg:space-y-0 lg:flex-row items-start bg-primary-300 p-5 mb-5">
    <CommentBadge :commentType="commentType" class="mr-4" />
    <div class="flex flex-col">
      <p class="text-xs">{{ content }}</p>
      <p class="text-xs italic text-secondary-400">{{ timestamp }}</p>
    </div>
  </RoundedBox>
</template>

<script>
import { defineComponent } from "vue";
import CommentBadge from "./components/CommentBadge.vue";
import RoundedBox from "../RoundedBox.vue";

export default defineComponent({
  props: {
    content: String,
    timestamp: String,
    commentType: String
  },
  components: { CommentBadge, RoundedBox }
})
</script>