<template>
  <div>
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 xl:col-span-9">
        <CourseDetailCard />
      </div>
      <div class="col-span-12 xl:col-span-3">
        <RoundedBox shadow class="flex flex-col items-center p-2">
          <div class="flex justify-center text-2xl pt-6 pb-2">
            <p class="font-medium text-primary-500">ว่าง 10/</p>
            <p class="font-medium text-gray-600">50 ที่นั่ง</p>
          </div>
          <div class="h-[1.5px] w-full bg-yellow-400" />
          <img class="w-[300px] rounded-md" src="https://img.freepik.com/free-vector/teacher-standing-near-blackboard-holding-stick-isolated-flat-vector-illustration-cartoon-woman-character-near-chalkboard-pointing-alphabet_74855-8600.jpg?size=626&ext=jpg" alt="hello" />
          <div class="flex items-center justify-between space-x-3 pt-3">
            <p class="text-md">ค่าธรรมเนียมการอบรม</p>
            <p class="text-semantic-danger font-bold text-md text-2xl">500</p>
            <p class="text-md">บาท</p>
          </div>
          <p class="self-center text-secondary-400 text-md my-2 italic">เปิดลงทะเบียน 01 - 12 กันยายน พ.ศ.2564</p>
        </RoundedBox>
      </div>
    </div>
    <div class="flex flex-col">
      <div class="text-primary-500 mt-8">
        <p class="font-bold text-md">โปรดตรวจสอบรายละเอียดของท่านก่อนการยืนยันการลงทะเบียน</p>
        <p class="ml-5 pt-5 text-md">กรณีข้อมูลของท่านครบถ้วน กรุณายืนยันข้อมูลการสมัคร</p>
        <p class="ml-5 text-gray-600">
          <span class="text-md">กรณีข้อมูลจของท่านไม่ถูกต้อง</span>
          <span class="text-red-500 text-md">กรุณาแก้ไขข้อมูล</span>
          <span class="text-md">พื่อทำการแก้ไขข้อมูลของท่านให้ถูกต้องการยืนยันการสมัคร</span>
        </p>
      </div>
      <img src="../../assets/images/banner.png" class="mt-10" alt="hello" />
      <RoundedBox shadow class="flex flex-col m-1 p-10">
        <div class="self-center lg:self-end flex flex-col justify-center lg:justify-start lg:flex-row lg:items-center space-x-2">
          <div class="flex space-x-2">
            <span class="text-md">ใบสมัครเลขที่</span>
            <span class="text-md text-primary-500">1234</span>
          </div>
          <div class="flex space-x-2">
            <span class="text-md">รหัสตัวแทน</span>
            <span class="text-md text-primary-500">1122</span>
          </div>
          <div class="flex space-x-2">
            <span class="text-md">สาขา</span>
            <span class="text-md text-primary-500">บางพลัด</span>
          </div>
        </div>
        <RoundedBox shadow class="my-8 py-5 bg-primary-300 opacity-60 px-10 lg:px-20 text-center font-semibold self-center">
          <span class="text-md">ใบสมัครเข้ารับการอบรมปี 2564</span>
          <div class="flex flex-col lg:flex-row justify-center items-center space-x-3">
            <span class="text-md">หลักสูตร</span>
            <span class="text-md text-primary-500">การขอต่ออายุใบสมัครเป็น"ตัวแทนประกันวินาศภัย"</span>
          </div>
        </RoundedBox>

        <div class="flex flex-col space-y-3 lg:space-y-0 lg:flex-row lg:space-x-3">
          <div class="flex flex-col lg:flex-row lg:space-x-3">
            <span class="text-md">วันที่สมัครอบรม</span>
            <span class="text-md text-primary-500">12 กันยายน พ.ศ. 2564</span>
          </div>
          <div class="flex flex-col lg:flex-row lg:space-x-3">
            <span class="text-md">หลักสูตร</span>
            <span class="text-md text-primary-500">การขอต่ออายุใบอนุญาตเป็น “ตัวแทนประกันวินาศภัย” ครั้งที่ 1 (ต่ออายุใบอนุญาต 1 ปี)</span>
          </div>
        </div>

        <div class="flex flex-col lg:flex-row lg:space-x-3">
          <span class="text-md">สถานที่จัดอบรม</span>
          <span class="text-md text-primary-500">ออนไลน์</span>
        </div>

        <div class="flex flex-col lg:flex-row lg:space-x-6">
          <div class="flex space-x-3">
            <span class="text-md">1. ชื่อ</span>
            <span class="text-md text-primary-500">นางสาว สมใจ</span>
          </div>
          <div class="flex space-x-3 pl-5 lg:pl-0">
            <span class="text-md">ชื่อกลาง</span>
            <span class="text-md text-primary-500">-</span>
          </div>
          <div class="flex space-x-3 pl-5 lg:pl-0">
            <span class="text-md">นามสกุล</span>
            <span class="text-md text-primary-500">เรียนเก่งมาก</span>
          </div>
        </div>

        <div class="flex flex-col lg:flex-row lg:space-x-6">
          <div class="flex space-x-3">
            <span class="text-md">2. เกิดวันที่</span>
            <span class="text-md text-primary-500">01 มกราคม พ.ศ.2534</span>
          </div>
          <div class="flex space-x-3 pl-5 lg:pl-0">
            <span class="text-md">สถานะ</span>
            <span class="text-md text-primary-500">โสด</span>
          </div>
          <div class="flex space-x-3 pl-5 lg:pl-0">
            <span class="text-md">นามสกุล</span>
            <span class="text-md text-primary-500">เรียนเก่งมาก</span>
          </div>
        </div>

        <div class="flex flex-col lg:flex-row lg:space-x-6">
          <div class="flex flex-col lg:flex-row lg:space-x-3">
            <span class="text-md">3. บัตรประจำตัวประชาชน</span>
            <span class="text-md text-primary-500 pl-5 lg:pl-0">0-0000-11111-22-3</span>
          </div>
        </div>

        <div class="flex space-x-10 pl-6">
          <div class="flex space-x-3">
            <span class="text-md">สถานที่ออกบัตร</span>
            <span class="text-md text-primary-500">สำนักงานเขตลาดพร้าว</span>
          </div>
        </div>
        
        <div class="flex flex-col lg:flex-row lg:space-x-6 lg:pl-6">
          <div class="flex space-x-3 pl-5 lg:pl-0">
            <span class="text-md">ออกให้เมื่อวันที่</span>
            <span class="text-md text-primary-500">01 มกราคม พ.ศ.2534</span>
          </div>
          <div class="flex space-x-3 pl-5 lg:pl-0">
            <span class="text-md">หมดอายุวันที่</span>
            <span class="text-md text-primary-500">01 มกราคม พ.ศ.2534</span>
          </div>
        </div>

        <div class="flex space-x-10">
          <div class="flex flex-col lg:flex-row lg:space-x-3">
            <span class="text-md">4. ที่อยู่ปัจจุบันเลขที่</span>
            <span class="text-md text-primary-500 pl-5 lg:pl-0">3/104 ซอย ลาดพร้าว 31 ถนน ลาดพร้าว</span>
          </div>
        </div>

        <div class="flex flex-col lg:flex-row lg:space-x-10 pl-6">
          <div class="flex space-x-3">
            <span class="text-md">แขวง/ตำบล</span>
            <span class="text-md text-primary-500">จันทรเกษม</span>
          </div>
          <div class="flex space-x-3">
            <span class="text-md">เขตอำเภอ</span>
            <span class="text-md text-primary-500">จตุจักร</span>
          </div>
        </div>

        <div class="flex flex-col lg:flex-row lg:space-x-10 pl-6">
          <div class="flex space-x-3">
            <span class="text-md">จังหวัด</span>
            <span class="text-md text-primary-500">กรุงเทพมหานคร</span>
          </div>
          <div class="flex space-x-3">
            <span class="text-md">รหัสไปรษณีย์</span>
            <span class="text-md text-primary-500">10900</span>
          </div>
        </div>

        <div class="flex space-x-10 pl-6">
          <div class="flex space-x-3">
            <span class="text-md">หมายเลขโทรศัพท์มือถือ</span>
            <span class="text-md text-primary-500">080-000-0000</span>
          </div>
        </div>

        <div class="flex space-x-10 pl-6">
          <div class="flex space-x-3">
            <span class="text-md">อีเมล</span>
            <span class="text-md text-primary-500">sale@uconnect.co.th</span>
          </div>
        </div>

        <div class="flex space-x-10">
          <div class="flex flex-col lg:flex-row space-x-3">
            <div class="flex flex-row space-x-3">
              <span class="text-md">5. ใบอนุญาตเป็น</span>
              <span class="text-md font-medium underline">ตัวแทนประกันวินาศภัย</span>
            </div>
            <div class="flex flex-row space-x-3 pl-3 lg:pl-0">
              <span class="text-md">เลขที่ใบอนุญาต</span>
              <span class="text-md text-primary-500">VRT123456789</span>
            </div>
          </div>
        </div>

        <div class="flex flex-col lg:flex-row lg:space-x-10 pl-6">
          <div class="flex space-x-3">
            <span class="text-md">วันออกใบอนุญาต</span>
            <span class="text-md text-primary-500">01 มกราคม พ.ศ.2564</span>
          </div>
          <div class="flex space-x-3">
            <span class="text-md">วันใบอนุญาตหมดอายุ</span>
            <span class="text-md text-primary-500">01 มกราคม พ.ศ.2564</span>
          </div>
        </div>

        <div class="flex space-x-10">
          <div class="flex space-x-3">
            <span class="text-md">6. ประสงค์จะขอสมัครเข้ารับการอบรมเพื่อขอต่ออายุใบอนุญาตเป็นตัวแทนประกันวินาศภัย</span>
          </div>
        </div>

        <div class="flex space-x-10 pl-6">
          <div class="flex space-x-3">
            <span class="text-md">ของ บริษัท วิริยะประกันภัย จำกัด (มหาชน) รหัสบริษัท 2037</span>
          </div>
        </div>

        <div class="flex space-x-10">
          <div class="flex space-x-3">
            <span class="text-md">7. ข้าพเจ้าขอรับรองว่าข้อความดังกล่าวข้างต้นเป็นความจริงทุกประการ และได้แนบเอกสารประกอบการสมัครมา พร้อมนี้</span>
          </div>
        </div>

        <div class="lg:px-20 mt-10 flex flex-col space-y-10 lg:space-y-0 lg:flex-row lg:items-center lg:space-x-40">
          <div class="flex flex-col">
            <span class="text-md">7.1 สำเนาบัตรประจำตัวประชาชน</span>
            <img src="https://dummyimage.com/300x200/000/fff" alt="helo" />
          </div>
          <div class="flex flex-col">
            <span class="text-md">7.2 สำเนาใบอนุญาตเป็นตัวแทนประกันวินาศภัย</span>
            <img src="https://dummyimage.com/300x200/000/fff" alt="helo" />
          </div>
        </div>

        <div class="flex justify-end mt-10 lg:mt-0">
          <div class="flex flex-col items-center justify-center">
            <span class="text-md">ลงชื่อผู้สมัคร</span>
            <span class="text-md text-primary-500 italic">นางสาวสมใจ เรียนเก่งมาก</span>
            <span class="text-[16px]">วันที่ 12 กันยายน พ.ศ. 2564</span>
          </div>
        </div>
      </RoundedBox>
      <div class="flex items-center justify-between my-10 lg:px-20">
        <Button label="แก้ไขข้อมูล" variant="delete" />
        <Button label="ยืนยันข้อมูลการสมัคร" />
      </div>
    </div>
  </div>
</template>

<script setup>
import CourseDetailCard from '../../components/CourseDetailCard.vue';
import RoundedBox from '../../components/RoundedBox.vue';
import Button from '../../components/Button.vue';
</script>