<template>
  <div>
    <TabView class="mb-2" />
    <TabView variant="secondary" />
    <CourseCard
      class="w-[400px]"
      percent="50"
      previewImageURL="https://www.olympusimaging-th.com/content/000107507.jpg"
    />
    <CourseDetailCard class="w-[1000px]" />
    <CourseAvailability class="w-[300px]" />
    <CertThumbnail />
    <PaginationControl :totalPages="10" :currentPage="5" />
    <FullCalendar />
    <NewQuestionInput />
    <QuestionAnswerView
      class="w-[60%]"
      content="Test content Test content Test content Test content Test contentTest contentvTest content"
      timestamp="12.00 am"
      commentType="question"
    >
      <QuestionAnswerView
        content="TTest content Test content Test content Test content Test content Test contentTest content"
        timestamp="12.00 am"
        commentType="answer"
      />
      <QuestionAnswerView
        content="TTest content Test content Test content Test content Test content Test contentTest content"
        timestamp="12.00 am"
        commentType="answer"
      />
    </QuestionAnswerView>
    <CourseAgenda />
    <Input label="Test label" type="text" />
    <Input label="Test label" type="date" />
    <Select label="Test label" class="w-[300px]"/>
    <DropDownMenu/>
    <Carousel/>
  </div>
</template>

<script setup>
import TabView from "../components/TabView.vue";
import CourseCard from "../components/CourseCard.vue";
import CourseDetailCard from "../components/CourseDetailCard.vue";
import CourseAvailability from "../components/CourseAvailability.vue";
import CertThumbnail from "../components/CertThumbnail.vue";
import PaginationControl from "../components/PaginationControl.vue";
import FullCalendar from "../components/FullCalendar/index.vue";
import QuestionAnswerView from "../components/CommentView/QuestionAnswerView.vue";
import NewQuestionInput from "../components/CommentView/NewQuestionInput.vue";
import CourseAgenda from "../components/CourseAgenda.vue";
import Input from "../components/Inputs/Input.vue";
import Select from "../components/Inputs/Select.vue";
import DropDownMenu from "../components/DropDownMenu.vue";
import Carousel from "../components/Carousel.vue";
</script>
