<template>
  <div class="flex border-b-[1px] border-b-orange-400 p-3">
    <div class="flex flex-col justify-center items-center rounded-md bg-primary-500 py-7 px-8">
      <h1 class="text-white text-2xl">06</h1>
      <p class="text-primary-400">จันทร์</p>
    </div>
    <div class="flex flex-col p-3">
      <p class="text-sm mb-3 leading-none">จรรยาบรรณและแนวทางปฏิบัติที่ดีในการให้บริการ</p>
      <div class="flex items-center text-gray-400 italic mb-3">
        <i class="fa-solid fa-home mr-3 text-sm" />
        <p class="text-sm">อบรมทางไกล</p>
      </div>
      <p class="text-semantic-success">อนุมัติแล้ว</p>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style>
</style>