<template>
  <div>
    <h4 class="text-medium text-center text-4xl mb-3">ตารางการอบรมของคุณ</h4>
    <div class="w-full bg-primary-300 py-3 text-center rounded-t-lg" >
      <span class="text-xl text-secondary-500">กันยายน 2564</span>
    </div>
    <div v-for="i in 5" :key="i">
      <CalendarView />
    </div>
    <div class="w-full bg-primary-300 py-3 text-center rounded-b-lg" >
      <span class="text-md text-primary-500 border-b border-primary-500">ดูตารางเรียนทั้งหมด</span>
    </div>
  </div>
</template>

<script setup>
import CalendarView from "./CalendarView.vue";
</script>