<template>
  <div>
    <h3 class="text-primary-500 text-xl my-3">ตารางการอบรม</h3>
    <div>
      <div class="flex">
        <Button label="หลักสูตรทั้งหมด" class="mr-3" />
        <Button label="หลักสูตรของฉัน" variant="secondary" />
      </div>
      <div
        class="flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-10 mt-5 mb-10"
      >
        <Radio icon="fa-video" label="ห้องเรียนออนไลน์ (วิดีโอ)"></Radio>
        <Radio icon="fa-chalkboard-user" label="ห้องเรียนออนไลน์ (สด)"></Radio>
        <Radio icon="fa-television" label="อบรมทางไกล"></Radio>
        <Radio icon="fa-school" label="ห้องเรียน"></Radio>
      </div>
      <div class="grid grid-cols-12 gap-4 items-start mt-5">
        <RoundedBox class="col-span-12 xl:col-span-9 lg:p-5">
          <FullCalendar locale="th" />
        </RoundedBox>
        <div class="col-span-12 xl:col-span-3 flex flex-col items-center">
          <template v-for="i in 3" :key="i">
            <CourseAgenda class="mt-4" />
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup>
import Button from "../../components/Button.vue";
import Radio from "../../components/Inputs/Radio.vue";
import RoundedBox from "../../components/RoundedBox.vue";
import FullCalendar from "../../components/FullCalendar/index.vue";
import CourseAgenda from "../../components/CourseAgenda.vue";
</script>
