<template>
  <RoundedBox border shadow class="p-4 lg:p-10">
    <div class="flex flex-col lg:flex-row items-center">
      <div class="flex flex-col items-center lg:w-[25%] mr-5">
        <Avatar src="https://www.w3schools.com/howto/img_avatar.png" class="w-40 h-40" />
        <p class="text-lg font-medium text-primary-500 mb-2 mt-5">นางสาว สมใจ เรียนเก่งมาก</p>
        <p class="text-xs font-light text-primary-500">รหัสตัวแทน UC00001</p>
        <p class="text-xs font-light text-primary-500">สังกัด XXXXXXX</p>
      </div>

      <div class="w-full grid grid-cols-12 gap-3 mt-3 lg:mt-0 lg:flex-row bg-primary-300 rounded-xl py-10 px-6 lg:px-32">
        <div v-for="item in items" :key="item.label" class="col-span-12 lg:col-span-6 flex items-center space-x-5">
          <i :class="`fa-solid ${item.icon} text-primary-500 text-md leading-none`" />
          <div class="flex flex-col">
            <p class="text-secondary-500 text-xs">{{ item.label }}</p>
            <p class="text-primary-500 text-sm leading-none">{{ item.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </RoundedBox>
</template>

<script>
import RoundedBox from "./RoundedBox.vue";
import Avatar from "./Avatar.vue";

export default {
  components: { RoundedBox, Avatar },
  data() {
    return {
      items: [
        {
          icon: 'fa-user',
          label: 'สถานะใบอนุญาตต่ออายุครั้งต่อไป',
          text: 'ขอต่ออายุใบอนุญาตนายหน้าประกันภัยวินาศภัย ครั้งที่ 1'
        },
        {
          icon: 'fa-phone',
          label: 'หมายเลขโทรศัพท์',
          text: '092-102-2032'
        },
        {
          icon: 'fa-clock',
          label: 'วันออกใบอนุญาต',
          text: '01 มิถุนายน 2564'
        },
        {
          icon: 'fa-envelope',
          label: 'อีเมล',
          text: 'sale@uconnect.co.th'
        },
        {
          icon: 'fa-clock',
          label: 'วันใบอนุญาตหมดอายุ',
          text: '31 มีนาคม 2565'
        },
        {
          icon: 'fa-brands fa-line',
          label: 'ไลน์ไอดี',
          text: '@ucconnect'
        },
        {
          icon: 'fa-id-card',
          label: 'เลขที่ใบอนุญาตประกันวินาศภัย',
          text: 'XXXX1234'
        },
        {
          icon: 'fa-house-user',
          label: 'ที่อยู่ปัจจุบัน',
          text: '3/104 ซอย ลาดพร้าว 31 ถนน ลาดพร้าว แขวงจันทรเกษม เขตจตุจักร กรุงเทพมหานคร 10900'
        },
        {
          icon: 'fa-id-card',
          label: 'รหัสตัวแทน 5 หลัก บมจ.วิริยะประกันภัย',
          text: 'VRY01'
        },
      ]
    }
  }
}
</script>