<template>
  <button v-if="variant === 'secondary'" class="bg-white rounded-md text-primary-500 shadow-md text-sm h-12 hover:bg-blue-100 px-5">{{ label }}</button>
  <button v-else-if="variant === 'disabled'" class="bg-secondary-400 rounded-md text-center text-white text-sm h-12 px-5">{{ label }}</button>
  <button v-else-if="variant === 'delete'" class="bg-transparent rounded-md text-center text-red-600 border-red-600 border-[1px] text-sm h-12 px-5">{{ label }}</button>
  <button v-else class="bg-primary-500 rounded-md text-center text-white text-sm h-12 hover:bg-primary-500 px-5">{{ label }}</button>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    label: String,
    variant: String
  }
})
</script>