<template>
  <carousel>
    <slide v-for="slide in 10" :key="slide">
      <img src="https://dummyimage.com/2000x500/000/fff" alt="" />
    </slide>
    <template #addons>
      <Pagination />
    </template>
  </carousel>
</template>

<script>
import 'vue3-carousel/dist/carousel.css';
import { Carousel, Slide, Navigation, Pagination } from 'vue3-carousel';
import { defineComponent } from 'vue';

export default defineComponent({
  components: {
    Carousel,
    Slide,
    Navigation,
    Pagination,
  }
})
</script>

<style>
.carousel__viewport {
  border-radius: 10px;
}

.carousel__pagination {
  margin-top: 10px;
}

.carousel__pagination-button {
  width: 12px;
  height: 12px;
  background-color: #F7F7F7 !important;
  border-radius: 50%;
}

.carousel__pagination-button--active {
  background-color: #002F93 !important;
}
</style>