<template>
  <template v-for="i in 5" :key="i">
    <div :class="`flex flex-col lg:flex-row p-5 ${!(i % 2) ? 'bg-primary-300' : ''}`">
      <img class="w-full lg:w-[200px] object-cover mr-5" src="https://www.teflcourse.net/images/course/ittt-120-hour-tefl-sample-cert.jpg" alt="certificate" />
      <div>
        <div class="flex text-lg">
          <p class="text-primary-500 mr-3">หลักสูตรบังคับ</p>
          <p class="mr-3">ชื่อหลักสูตร</p>
          <p class="text-primary-500">ขอต่อใบอนุญาติ</p>
        </div>
        <p>ชื่อวิชา -</p>
        <p>หมวดวิชา -</p>
        <p>ได้รับหนังสือรับรองผ่านการอบรม ณ วันที่ <span class="text-primary-500">30 กันยายน พ.ศ.2564</span></p>
        <Button class="w-full lg:w-[300px] my-2" label="ดาวน์โหลด" />
      </div>
    </div>
  </template>
</template>

<script setup>
import Button from './Button.vue';
</script>