<template>
  <RoundedBox shadow class="flex flex-col p-5">
    <div class="flex justify-center text-2xl py-6">
      <p class="font-medium text-primary-500">ว่าง 10/</p>
      <p class="font-medium text-gray-600">50 ที่นั่ง</p>
    </div>
    <div class="flex flex-col w-full">
      <Button label="ลงทะเบียนเรียน" class="my-2" />
      <Button variant="disabled" label="เพิ่มลงในตะกร้า" class="my-2" />
    </div>
    <div class="flex items-center justify-between space-x-3 pt-3">
      <p class="text-md">ค่าธรรมเนียมการอบรม</p>
      <p class="text-semantic-danger font-bold text-md text-2xl">500</p>
      <p class="text-md">บาท</p>
    </div>
    <p class="self-center text-secondary-400 text-md my-2 italic">เปิดลงทะเบียน 01 - 12 กันยายน พ.ศ.2564</p>
    <div class="h-[1.5px] w-full bg-yellow-400 my-2" />
    <div v-if="!compact">
      <p class="my-3 text-bold text-md">ข้อมูลอื่นๆที่สำคัญ</p>
      <template v-for="i in 5" :key="i">
        <div class="flex space-x-6 items-center py-2 ml-8">
          <i class="fa-solid fa-check text-primary-500" />
          <div>
            <p class="text-sm text-gray-600">ข้อมูลอื่นๆที่สำคัญ</p>
            <p class="text-xs text-gray-400">ข้อมูลอื่นๆที่สำคัญ</p>
          </div>
        </div>
      </template>
      <Button variant="disabled" label="ดาวน์โหลด" class="my-2 w-full" />
      <div class="h-[1.5px] w-full bg-yellow-400 my-2" />
    </div>
  </RoundedBox>
</template>

<script>
import RoundedBox from './RoundedBox.vue';
import Button from './Button.vue';
import { defineComponent } from 'vue';

export default defineComponent({
  components: { RoundedBox, Button },
  props: {
    compact: Boolean
  }
})
</script>