<template>
  <div class="p-5">
    <div class="mb-10">
      <p class="text-xl text-primary-500">กลุ่มเป้าหมาย</p>
      <p class="text-xs text-primary-500">target groups</p>
      <p class="ml-2 mt-3 text-sm text-gray-500">ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค</p>
    </div>
    <div class="mb-10">
      <p class="text-xl text-primary-500">กลุ่มเป้าหมาย</p>
      <p class="text-xs text-primary-500">target groups</p>
      <p class="ml-2 mt-3 text-sm text-gray-500">ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค</p>
    </div>
    <div class="mb-10">
      <p class="text-xl text-primary-500">กลุ่มเป้าหมาย</p>
      <p class="text-xs text-primary-500">target groups</p>
      <p class="ml-2 mt-3 text-sm text-gray-500">ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค</p>
    </div>
    <div class="mb-10">
      <p class="text-xl text-primary-500">กลุ่มเป้าหมาย</p>
      <p class="text-xs text-primary-500">target groups</p>
      <p class="ml-2 mt-3 text-sm text-gray-500">ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค ทดสอบประโยค</p>
    </div>
  </div>
</template>