<template>
  <RoundedBox class="flex flex-col w-full p-3 border border-primary-500">
    <p class="text-xl my-3 text-primary-500">29 กันยายน 2565</p>
    <p class="self-end text-primary-500 my-2">
      <i class="fa-solid fa-home mr-2" /> ห้องเรียนออนไลน์
    </p>
    <img src="https://www.olympusimaging-th.com/content/000107507.jpg" class="rounded-md" />
    <p class="text-lg mt-5 mb-2">ชื่อหลักสูตร</p>
    <p class="my-2">หลักสูตรบังคับ</p>
    <p class="my-2">หลักสูตรบังคับ</p>
    <p class="my-2">หลักสูตรบังคับ</p>
    <Button label="รายระเอียดการสอน" class="my-2"/>
  </RoundedBox>
</template>

<script setup>
import RoundedBox from './RoundedBox.vue';
import Button from './Button.vue';
</script>