<template>
  <RoundedBox shadow class="mt-2">
    <div class="p-6">
      <div class="flex flex-col lg:flex-row text-xl my-2">
        <p class="text-xl text-primary-500 mr-5">หลักสูตรบังคับ</p>
        <div class="flex items-center">
          <p class="text-xl mr-5">ชื่อหลักสูตร</p>
          <p class="text-xl text-primary-500 mr-5">ขอต่อใบอนุญาติ</p>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row my-2">
        <p class="text-md mr-5">หมวดวิชา</p>
        <p class="text-md text-primary-500">Pillar 1</p>
      </div>
      <div class="flex flex-col lg:flex-row my-2">
        <p class="text-md mr-5">ชื่อวิชา</p>
        <p class="text-md text-primary-500">Lorem ipsum dolor sit amet</p>
      </div>
      <div class="flex flex-col xl:flex-row xl:space-x-6 my-2">
        <div class="flex space-x-5">
          <div class="flex flex-col lg:flex-row lg:space-x-3 my-2">
            <p class="text-md">วันที่เริ่มเรียน</p>
            <p class="text-md text-primary-500">30 กันยายน 2564</p>
          </div>
          <div class="flex flex-col lg:flex-row lg:space-x-3 my-2">
            <p class="text-md">เวลา</p>
            <p class="text-md text-primary-500">09.00 น.</p>
          </div>
        </div>
        <div class="flex space-x-5">
          <div class="flex flex-col lg:flex-row lg:space-x-3 my-2">
            <p class="text-md">วันที่สิ้นสุดการเรียน</p>
            <p class="text-md text-primary-500">30 กันยายน 2564</p>
          </div>
          <div class="flex flex-col lg:flex-row lg:space-x-3 my-2">
            <p class="text-md">เวลา</p>
            <p class="text-md text-primary-500">09.00 น.</p>
          </div>
        </div>
      </div>
      <div class="flex flex-col lg:flex-row my-2">
        <p class="text-md mr-5">สถานที่เรียน</p>
        <p class="text-md text-primary-500">ออนไลน์</p>
      </div>
    </div>
    <div class="bg-blue-100 flex flex-col lg:flex-row p-5 justify-between">
      <div>
        <p class="text-md mb-2">วิทยากร</p>
        <div class="flex space-x-6">
          <img class="rounded-md w-[150px]" src="https://img.freepik.com/free-vector/teacher-standing-near-blackboard-holding-stick-isolated-flat-vector-illustration-cartoon-woman-character-near-chalkboard-pointing-alphabet_74855-8600.jpg?size=626&ext=jpg" alt="hello" />
          <div>
            <p class="text-xl text-primary-500">อาจารย์สอนดี มีวิชา</p>
            <p class="text-sm text-secondary-500 font-light">วิทยากรประจำภาค</p>
            <p class="text-sm text-secondary-500 font-light">ชื่อตำแหน่ง</p>
          </div>
        </div>
      </div>
      <div class="flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-20 mt-5 lg:mt-0 lg:px-20">
        <div>
          <p class="text-md mb-2">รูปแบบ</p>
          <p class="flex items-center text-primary-500">
            <i class="fa-solid fa-video mr-2" />
            <span class="text-sm">ห้องเรียนออนไลน์ (วิดีโอ)</span>
          </p>
        </div>
        <div>
          <p class="text-md mb-2">ชั่วโมงเรียน</p>
          <p class="flex items-center text-primary-500">
            <i class="fa-solid fa-clock mr-2" />
            <span class="text-md">4 ชั่วโมง 25 นาที</span>
          </p>
        </div>
      </div>
    </div>
    <div class="flex lg:justify-end">
      <div class="flex flex-col lg:flex-row lg:space-x-3 lg:pr-32 p-3">
        <p class="text-sm">หลักสูตรสำหรับ:</p>
        <p class="text-sm text-primary-500">ตัวแทนทั่วไป / ตัวแทน e-Agency</p>
      </div>
    </div>
  </RoundedBox>
</template>

<script setup>
import RoundedBox from './RoundedBox.vue';
</script>