<template>
  <div class="grid grid-cols-12 gap-4 items-center bg-whote shadow px-4 py-2">

    <div class="col-span-9 lg:col-span-7 flex items-center space-x-6">
      <router-link to="/">
        <div class="bg-white shadow-md px-3 py-1 rounded-md">
          <i class="fa-solid fa-chevron-left text-primary-500 text-xs"></i>
        </div>
      </router-link>

      <router-link to="/">
        <img class="w-48" src="../assets/images/logo.png" alt="hello" />
      </router-link>

      <div class="hidden lg:flex items-center space-x-6">
        <router-link to="#">
          <span class="text-md text-secondary-400">หลักสูตรบังคับ</span>
        </router-link>
        <router-link to="#">
          <span class="text-md text-secondary-400">ขอต่อใบอนุญาตตัวแทน</span>
        </router-link>
      </div>
    </div>

    <div class="col-span-3 lg:col-span-5 flex justify-end">
      <div class="hidden lg:flex">
        <RoundedBox shadow class="mr-3 flex py-3 px-5">
          <i class="self-center fa-regular fa-bell text-md text-primary-500" />
        </RoundedBox>
        <RoundedBox shadow class="flex items-center p-2">
          <Avatar class="mr-3 w-10 h-10" src="https://www.w3schools.com/howto/img_avatar.png" />
          <div class="flex flex-col">
            <p class="text-sm mb-[-7px] text-primary-500">นางสาว สมใจ เรียนเก่งมาก</p>
            <p class="text-xs text-gray-500">รหัสตัวแทน 12341235</p>
          </div>
        </RoundedBox>
      </div>

      <div class="flex lg:hidden">
        <i class="fa-regular fa-bell text-md text-primary-500 mr-5" />
        <i class="fa-solid fa-user text-md text-primary-500"></i>
      </div>
    </div>

  </div>
</template>

<script>
import Avatar from "./Avatar.vue";
import RoundedBox from "./RoundedBox.vue";
export default {
  components: { Avatar, RoundedBox },
};
</script>