<template>
  <div class="dropdown inline-block relative">
    <button class="bg-primary-500 rounded-md text-center text-white text-sm h-12 hover:bg-primary-500 px-5">
      <span>{{ label }}</span>
      <i class="fa-solid fa-caret-down text-[16px] ml-3"></i>
    </button>
    <ul class="dropdown-content absolute z-10 hidden text-gray-700 pt-1">
      <li><a class="rounded-t bg-primary-300 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Option 1</a></li>
      <li><a class="bg-primary-300 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Option 2</a></li>
      <li class="dropdown">
        <a class="bg-primary-300 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Option 3 <i class="fa-solid fa-chevron-right text-[10px] ml-3"></i></a>
        <ul class="dropdown-content absolute z-10 hidden pl-5 ml-24 -mt-10">
          <li><a class="bg-primary-300 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Option 3-1</a></li>
          <li><a class="bg-primary-300 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Option 3-2</a></li>
        </ul>
      </li>
      <li><a class="rounded-b bg-primary-300 hover:bg-gray-400 py-2 px-4 block whitespace-no-wrap" href="#">Option 4</a></li>
    </ul>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    variant: String,
    label: {
      type: String,
      default: 'Dropdown'
    },
    values: {
      type: Array,
      default: []
    }
  },
})
</script>

<style>
.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown:hover > .dropdown-content {
  display: block;
}
</style>