<template>
  <div>
    <span :class="[isBig ? 'text-lg text-black' : 'text-sm text-secondary-400']">{{ label }}</span>
    <div :class="[isBig ? 'h-14' : 'h-10', 'flex items-center w-full border-[1px] bg-secondary-400 rounded-lg']">
      <div :class="[isBig ? 'h-14' : 'h-10', 'flex items-center justify-center bg-primary-500 rounded-lg text-xs px-4']" :style="`width: ${percent}%;`">
        <div class="text-primary-400 text-xs italic">{{ prefix }}</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    isBig: Boolean,
    percent: Number,
    label: String,
    prefix: String
  },
};
</script>
