<template>
    <div class="flex items-center cursor-pointer">
        <i class="fa-solid fa-chevron-left text-primary-500 mr-10 hover:opacity-40" />
        <p
            v-for="i in totalPages"
            :class="`${i === currentPage ? 'text-yellow-600' : 'text-primary-500'} hover:opacity-40 mx-2`"
        >{{ i }}</p>
         <i class="fa-solid fa-chevron-right text-primary-500 ml-10 hover:opacity-40" />
    </div>
</template>
<script>
import { defineComponent } from "vue";

export default defineComponent({
    props: {
        totalPages: Number,
        currentPage: Number
    }
})
</script>