<template>
  <RoundedBox shadow class="p-3">
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 sm:col-span-5 xl:col-span-7">
        <img :src="previewImageURL" class="rounded-md w-full" alt="hello" />
      </div>
      <div class="col-span-12 sm:col-span-7 xl:col-span-5 flex flex-col font-light">
        <p class="text-center md:text-right text-[14px] italic text-primary-500">
          <i class="fa-solid fa-home mr-2 text-primary-500" />ต้องเรียนออนไลน์
        </p>
        <div class="text-sm mt-3">
          <p>ชื่อหลักสูตร หลักสูตรหนึ่ง</p>
          <p>หลักสูตรหนึ่ง</p>
          <p>หลักสูตรหนึ่ง</p>
          <p>หลักสูตรหนึ่ง</p>
          <p>หลักสูตรหนึ่ง</p>
        </div>
      </div>
    </div>
    <span class="text-md font-medium text-semantic-danger inline-block my-1">฿500</span>
    <Button label="รอการชำระเงิน" variant="disabled" class="w-full" />
  </RoundedBox>
</template>

<script>
import { defineComponent } from "vue";
import ProgessBar from "./ProgessBar.vue";
import RoundedBox from "./RoundedBox.vue";
import Button from "./Button.vue";

export default defineComponent({
  props: {
    previewImageURL: String,
    percent: Number,
  },
  components: { ProgessBar, RoundedBox, Button }
})
</script>