<template>
  <div class="flex items-center w-full border-[1px] border-primary-500 rounded-lg h-8">
    <div :class="`flex items-center justify-center bg-primary-500 h-8 rounded-lg text-xs`" :style="`width: ${percent}%;`">
      <div v-if="labelPrefix && percent >= 50" class="text-white">{{ labelPrefix }} {{ percent }}%</div>
    </div>
    <div v-if="labelPrefix && percent < 50" class="text-primary-500 text-center text-xs" :style="`width: ${100 - percent}%;`" >{{ labelPrefix }} {{ percent }}%</div>
  </div>
</template>

<script>
export default {
  props: {
    percent: Number,
    labelPrefix: String
  },
};
</script>
