<template>
  <div :class="`rounded-xl ${shadow ? 'shadow-md shadow-slate-300' : ''} ${ border ? 'border-[1px] border-secondary-400' : '' }`">
    <slot />
  </div>
</template>

<script>
export default {
  props: {
    shadow: Boolean,
    border: Boolean,
  },
};
</script>