<template>
  <RoundedBox shadow border class="p-3 px-6">
    <h1 class="mb-3 text-medium text-xl">{{ title }}</h1>
    <slot />
  </RoundedBox>
</template>

<script>
import { defineComponent } from "vue"
import RoundedBox from "./RoundedBox.vue"

export default defineComponent({
  components: { RoundedBox },
  props: {
    title: String
  }
})
</script>