<template>
  <div class="dropdown min-w-[150px] relative">
    <button class="w-full bg-white rounded-md text-center shadow-md h-12 px-5 space-x-2">
      <span class="text-primary-500 text-sm">จัดเรียง</span>
      <span class="text-primary-500 text-[12px]">Sort</span>
      <i class="text-primary-500 fa-solid fa-caret-down text-[16px] ml-3"></i>
    </button>
    <ul class="dropdown-content absolute z-10 hidden pt-1 px-2 bg-white shadow-md w-full">
      <li class="border-b last:border-b-0 border-primary-500 p-3 text-primary-500 flex items-center space-x-2 cursor-pointer">
        <i class="fa-solid fa-check"></i>
        <div class="flex flex-col">
          <span class="leading-none">เรียงจากใหม่ล่าสุด</span>
          <span class="leading-none text-[10px]">Newest on top</span>
        </div>
      </li>
      <li class="border-b last:border-b-0 border-primary-500 p-3 text-primary-500 flex items-center space-x-2 cursor-pointer">
        <i class="fa-solid fa-check text-white"></i>
        <div class="flex flex-col">
          <span class="leading-none">เรียงจากเก่าที่สุด</span>
          <span class="leading-none text-[10px]">Oldest on top</span>
        </div>
      </li>
    </ul>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    variant: String,
    label: {
      type: String,
      default: 'Dropdown'
    },
    values: {
      type: Array,
      default: []
    }
  },
})
</script>

<style>
.dropdown:hover .dropdown-menu,
.dropdown:hover > .dropdown-content {
  display: block;
}
</style>