<template>
  <div v-if="variant === 'secondary'" class="flex flex-col lg:flex-row lg:space-x-1">
    <template v-for="(tab, index) in tabs" :key="tab">
      <div v-if="index === selectedIndex" class="min-w-[230px] rounded-t-md bg-white shadow text-primary-500 text-center font-light px-6 py-2 border-b-4 border-b-yellow-300 text-md cursor-pointer flex flex-col items-start">
        <span>{{tab.label}}</span>
        <span v-if="tab.suffix" class="text-xs">{{tab.suffix}}</span>
      </div>
      <div v-else class="min-w-[230px] mr-1 rounded-t-md text-primary-500 bg-secondary-200 shadow text-center font-light px-6 py-2 text-md border-b-4 border-b-primary-500 cursor-pointer flex flex-col items-start">
        <span>{{tab.label}}</span>
        <span v-if="tab.suffix" class="text-xs">{{tab.suffix}}</span>
      </div>
    </template>
  </div>
  <div class="flex flex-col lg:flex-row lg:space-x-1" v-else>
    <template v-for="(tab, index) in tabs" :key="tab">
      <div v-if="index === selectedIndex" class="min-w-[230px] rounded-t-md bg-primary-500 text-white text-center font-light px-6 py-2 border-b-4 border-b-yellow-300 text-md cursor-pointer">
        <span>{{tab.label}}</span>
        <span v-if="tab.suffix" class="text-xs">{{tab.suffix}}</span>
      </div>
      <div v-else class="min-w-[230px] mr-1 rounded-t-md text-primary-500 bg-blue-100 text-center font-light px-6 py-2 text-md border-b-4 border-b-primary-300 cursor-pointer">
        <span>{{tab.label}}</span>
        <span v-if="tab.suffix" class="text-xs">{{tab.suffix}}</span>
      </div>
    </template>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  props: {
    variant: String,
    tabs: {
      type: Array,
      default: [
        {
          label: 'Tab 1',
          suffix: null,
        },
        {
          label: 'Tab 2',
          suffix: null,
        },
        {
          label: 'Tab 3',
          suffix: null,
        },
      ]
    },
    selectedIndex: {
      type: Number,
      default: 0,
    },
  }
})
</script>