<template>
  <div class="grid grid-cols-12 gap-4 items-center py-4 lg:py-0 px-4">

    <div class="col-span-9 lg:col-span-7 flex items-center space-x-6 lg:space-x-0">
      <div class="flex items-center lg:hidden">
        <i class="fa-solid fa-bars text-3xl text-primary-500" @click="setIsOpen"></i>
        <div v-if="isOpen" class="w-full bg-black bg-opacity-20 absolute z-30 left-0 top-0">
          <div class="w-[300px] p-3 bg-white h-screen overflow-y-scroll">
            <div class="flex items-center justify-between px-4">
              <router-link to="/">
                <img class="h-10 m-auto mb-5 mt-2" src="../assets/images/logo.png" alt="hello" />
              </router-link>
              <i class="fa-solid fa-close text-xl text-primary-500" @click="setIsOpen"></i>
            </div>
            <ProfileCard />
            <Menu />
          </div>
        </div>
      </div>

      <div class="w-full relative ml-12 lg:ml-0">
        <i class="absolute fa-solid fa-search top-1/2 transform -translate-y-1/2 ml-3 text-primary-500" />
        <input class="w-full border-[1px] border-primary-500 pl-9 pr-3 py-2 rounded-lg italic" placeholder="ค้นหา" />
      </div>
    </div>

    <div class="col-span-3 lg:col-span-5 flex justify-end">
      <div class="hidden lg:flex lg:w-auto">
        <RoundedBox shadow class="mr-3 flex py-3 px-5">
          <i class="self-center fa-regular fa-bell text-md text-primary-500" />
        </RoundedBox>
        <RoundedBox shadow class="flex items-center p-2">
          <Avatar class="mr-3 w-10 h-10" src="https://www.w3schools.com/howto/img_avatar.png" />
          <div class="flex flex-col">
            <p class="text-sm mb-[-7px] text-primary-500">นางสาว สมใจ เรียนเก่งมาก</p>
            <p class="text-xs text-gray-500">รหัสตัวแทน 12341235</p>
          </div>
        </RoundedBox>
      </div>

      <div class="flex lg:hidden">
        <i class="fa-regular fa-bell text-md text-primary-500 mr-5" />
        <i class="fa-solid fa-user text-md text-primary-500"></i>
      </div>
    </div>
  </div>
</template>

<script>
import Avatar from "../components/Avatar.vue";
import RoundedBox from "./RoundedBox.vue";
import Menu from "./SideBar/Menu.vue";
import ProfileCard from "./SideBar/ProfileCard.vue";

export default {
  components: { Avatar, RoundedBox, Menu, ProfileCard },
  data() {
    return {
      isOpen: false
    }
  },
  methods: {
    setIsOpen() {
      this.isOpen = !this.isOpen
    }
  }
};
</script>