<template>
  <div class="py-4">
    <p class="text-xl font-medium my-5">เมนู</p>
    <router-link v-for="item in items" :key="item.name" :to="item.link" class="flex items-center pl-3 py-2 space-x-6">
      <i :class="`fa-solid ${item.icon} text-gray-600 text-md`" />
      <p class="text-gray-600 text-md">{{ item.name }}</p>
    </router-link>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          icon: 'fa-home',
          name: 'หน้าหลัก',
          link: '/'
        },
        {
          icon: 'fa-book-open-reader',
          name: 'หลักสูตรของฉัน',
          link: '/course'
        },
        {
          icon: 'fa-calendar-days',
          name: 'ปฏิทินอบรม',
          link: '/calendar'
        },
        {
          icon: 'fa-book',
          name: 'หลักสูตรอบรม',
          link: '/courses'
        },
        {
          icon: 'fa-certificate',
          name: 'หนังสือรับรองผ่านการอบรม',
          link: '/certs'
        },
        {
          icon: 'fa-circle-question',
          name: 'ถาม - ตอบ',
          link: '/courseDetailQuestions'
        },
        {
          icon: 'fa-building',
          name: 'ติดต่อเรา',
          link: '#'
        },
      ]
    }
  }
}
</script>