<template>
  <RoundedBox class="flex flex-col py-5 border-[1px] border-primary-500">
    <Avatar src="https://www.w3schools.com/howto/img_avatar.png" class="self-center mb-3 w-24 h-24" />
    <p class="text-lg text-primary-500 text-center mb-3">นางสาว สมใจ เรียนเก่งมาก</p>
    <div class="w-full bg-primary-500 text-center py-2">
      <p class="text-[16px] text-primary-400 font-light">นางสาว สมใจ เรียนเก่งมาก</p>
      <p class="text-[16px] text-primary-400 font-light">ขอต่ออายุใบอนุญาตนายหน้าครั้งที่ 1</p>
      <p class="text-[16px] text-primary-400 font-light">เลขที่ใบอนุญาต: XXXXXXX</p>
      <p class="text-[16px] text-primary-400 font-light">สาขา: XXXXXXXX</p>
    </div>
    <div class="flex justify-evenly my-4">
      <div class="flex flex-col items-center">
        <i class="fa-regular mb-2 fa-clock text-primary-500" />
        <p class="text-[16px] font-light mx-1">วันออกใบอนุญาติ</p>
        <p class="text-xs font-light mx-1">01 มิถุนายน 2564</p>
      </div>
      <div class="flex flex-col items-center">
        <i class="fa-regular mb-2 fa-clock text-primary-500" />
        <p class="text-[16px] font-light mx-1">วันออกใบอนุญาติ</p>
        <p class="text-xs font-light mx-1">01 มิถุนายน 2565</p>
      </div>
    </div>
    <a href="#" class="text-xs self-center text-primary-500">
      <i class="fa-regular fa-pen-to-square" />
      แก้ไขข้อมูลส่วนตัว
    </a>
  </RoundedBox>
</template>
<script>
import Avatar from "../Avatar.vue";
import RoundedBox from "../RoundedBox.vue";
export default {
  components: { RoundedBox, Avatar },
};
</script>