<template>
  <div class="flex flex-col lg:w-96 lg:p-3 shadow-md shadow-slate-300 w-[300px]">
    <router-link to="/">
      <img class="h-10 m-auto mb-5 mt-2" src="../../assets/images/logo.png" alt="hello" />
    </router-link>
    <ProfileCard />
    <Menu />
  </div>
</template>

<script>
import Menu from "./Menu.vue";
import ProfileCard from "./ProfileCard.vue";

export default {
  components: { Menu, ProfileCard },
}
</script>