<template>
  <div>
    <div class="grid grid-cols-12 gap-4">
      <div class="col-span-12 lg:col-span-9">
        <iframe
          class="w-full min-h-[600px] h-full"
          src="https://www.youtube.com/embed/YG8vtggc1Ok"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        />
      </div>
      <CourseProgress class="col-span-12 lg:col-span-3"/>
    </div>
    <div class="flex flex-col w-full">
      <div class="w-[95%] lg:w-[80%] self-center">
        <CourseDetailCard />
        <TabView variant="secondary" :tabs="[{ label: 'รายละเอียดหลักสูตร', suffix: 'Course Details' }, { label: 'ถาม-ตอบ', suffix: 'Q&A' }]" class="mt-5" />
        <RoundedBox shadow class="mb-5">
          <CourseDescription />
        </RoundedBox>
      </div>
    </div>
  </div>
</template>

<script setup>
import CourseDetailCard from '../../components/CourseDetailCard.vue';
import QuestionAnswerView from '../../components/CommentView/QuestionAnswerView.vue';
import TabView from '../../components/TabView.vue';
import CourseDescription from '../../components/CourseDescription.vue';
import RoundedBox from '../../components/RoundedBox.vue';
import CourseProgress from './components/CourseProgress.vue';
</script>