<template>
  <h3 class="text-primary-500 text-xl mb-3">ข้อมูลบัญชีผู้ใช้</h3>
  <AccountInfo />
  <TabView :tabs="[{ label: 'ข้อมูลส่วนบุคคล' }, { label: 'ข้อมูลใบอนุญาต' }, { label: 'ข้อมูลรายละเอียดรหัสตัวแทน' }, { label: 'ข้อมูลใบหน้า' }]" class="mt-5" />
  <RoundedBox shadow class="bg-primary-200 m-1 bg-blue-50 bg-opacity-50 p-10">
    <p class="text-xl mb-8">ชื่อ - นามสกุล ตามบัตรประขาชน</p>
    <div class="flex flex-col">
      <div class="grid grid-cols-1 lg:grid-cols-5 gap-4 justify-between mb-5">
        <Select label="คำนำหน้าชื่อ" />
        <Input label="ชื่อ" />
        <Input label="ชื่อกลาง" />
        <Input label="นามสกุล" />
        <Select label="สถานภาพสมรส" />
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-5 gap-4 justify-between mb-5">
        <Date label="วันเกิด" />
        <Input label="เลขบัตรประชาชน 13 หลัก" />
        <Input label="สถานที่ออกบัตร" />
        <Date label="วันออกบัตร" />
        <Date label="วันหมดอายุ" />
      </div>
    </div>
    <p class="text-xl my-8">ที่อยู่ตามบัตรประชาชน</p>
    <div class="flex flex-col">
      <div class="grid grid-cols-1 lg:grid-cols-1 gap-4 justify-between mb-5">
        <Input class="w-full" label="ที่อยู่" />
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-1 lg:grid-cols-4 gap-4 justify-between mb-5">
        <Select label="จังหวัด" />
        <Select label="เขต/อำเภอ" />
        <Select label="แขวง/ตำบล" />
        <Input label="รหัสไปรษณีย์" />
      </div>
    </div>
    <p class="text-xl my-8">ที่อยู่ที่ติดต่อได้</p>
    <div class="flex flex-col">
      <div class="flex flex-col lg:flex-row justify-between lg:mb-5">
        <Input class="w-full" label="ที่อยู่" />
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-4 gap-4 justify-between mb-5">
        <Select label="จังหวัด" />
        <Select label="เขต/อำเภอ" />
        <Select label="แขวง/ตำบล" />
        <Input label="รหัสไปรษณีย์" />
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-4 justify-between mb-5">
        <Input label="หมายเลขโทรศัพท์ (เพื่อส่งรหัส OTP)" />
        <div>
          <div class="flex items-center">
            <Input label="หมายเลขโทรศัพท์สำรอง" class="w-full" />
            <i class="fa-solid fa-circle-plus ml-3 text-xl text-gray-600 hover:text-primary-500 cursor-pointer" />
          </div>
          <div class="flex items-center">
            <Input label="หมายเลขโทรศัพท์สำรอง" class="w-full" />
            <i class="fa-solid fa-circle-plus ml-3 text-xl text-gray-600 hover:text-primary-500 cursor-pointer" />
          </div>
        </div>
        <div>
          <div class="flex items-center">
            <Input label="หมายเลขโทรศัพท์สำรอง" class="w-full" />
            <i class="fa-solid fa-circle-plus ml-3 text-xl text-gray-600 hover:text-primary-500 cursor-pointer" />
          </div>
          <div class="flex items-center">
            <Input label="หมายเลขโทรศัพท์สำรอง" class="w-full" />
            <i class="fa-solid fa-circle-plus ml-3 text-xl text-gray-600 hover:text-primary-500 cursor-pointer" />
          </div>
        </div>
      </div>
      <div class="grid grid-cols-1 lg:grid-cols-12 gap-4 justify-between mb-5">
        <Input class="col-span-3" label="อีเมล" />
        <Input class="col-span-3" label="ไลน์ไอดี" />
      </div>
    </div>
  </RoundedBox>
  <div class="flex justify-between my-10 mx-5">
    <Button variant="delete" label="ยกเลิก" class="w-[200px]" />
    <Button label="บันทึก" class="w-[200px]" />
  </div>
</template>

<script setup>
import RoundedBox from "../../components/RoundedBox.vue";
import Input from "../../components/Inputs/Input.vue";
import Date from "../../components/Inputs/Date.vue";
import Select from "../../components/Inputs/Select.vue";
import TabView from "../../components/TabView.vue";
import Button from "../../components/Button.vue";
import AccountInfo from "../../components/AccountInfo.vue";
</script>