<template>
	<div class="p-3">
		<AccountInfo/>
		<TabView :tabs="[{ label: 'ข้อมูลส่วนบุคคล' }, { label: 'ข้อมูลใบอนุญาต' }, { label: 'ข้อมูลรายละเอียดรหัสตัวแทน' }, { label: 'ข้อมูลใบหน้า' }]" :selectedIndex="3" class="mt-5" />
		<RoundedBox shadow class="bg-primary-200 grid grid-cols-2  lg:grid-cols-3 gap-6 p-4 lg:p-10">
			<template v-for="i in 6" :key="i">
				<div class="flex flex-col items-center m-3">
					<span class="text-primary-500 text-md">หน้านิ่งตรง</span>
					<div class="w-full lg:w-[250px] object-cover border rounded-md bg-secondary-200 border-secondary-400 p-2 mt-2">
						<img src="https://www.teflcourse.net/images/course/ittt-120-hour-tefl-sample-cert.jpg" alt="hello" />
					</div>
				</div>
			</template>
		</RoundedBox>
	</div>
</template>

<script setup>
import TabView from '../../components/TabView.vue';
import RoundedBox from '../../components/RoundedBox.vue';
import AccountInfo from '../../components/AccountInfo.vue';
</script>