<template>
  <Course v-if="$route.path === '/course'">
    <router-view></router-view>
  </Course>
  <Default v-else>
    <router-view></router-view>
  </Default>
</template>

<script setup>
import Default from './layouts/Default.vue';
import Course from './layouts/Course.vue';
import { RouterView } from 'vue-router';
</script>