<template>
  <div class="flex flex-col items-start lg:flex-row lg:items-center justify-between">
    <div class="flex flex-col items-start lg:flex-row lg:items-center lg:space-x-4">
      <div class="flex flex-col items-start px-8 rounded-t-md bg-gray-50 text-primary-500 py-2 border-b-4 border-b-yellow-400 shadow-md">
        <span class="text-xl leading-none">หนังสือรับรองผ่านการอบรม</span>
        <span class="text-xs leading-none">e-Certificate</span>
      </div>
      <div class="flex items-center">
        <DropDownMenu label="หลักสูตรบังคับ" class="my-3 mr-3" />
        <Button variant="secondary" label="หลักสูตรทั่วไป" />
      </div>
    </div>
    <Sorter label="จัดเรียง" />
  </div>
  <RoundedBox shadow class="m-1">
    <template v-for="i in 10" :key="i">
      <CertThumbnail />
    </template>
  </RoundedBox>
</template>

<script setup>
import DropDownMenu from '../../components/DropDownMenu.vue';
import RoundedBox from '../../components/RoundedBox.vue';
import CertThumbnail from '../../components/CertThumbnail.vue';
import Button from "../../components/Button.vue";
import Sorter from "../../components/Sorter.vue";
</script>
