<template>
  <div class="w-full flex flex-col">
    <CourseTopBar />
    <div class="p-4">
      <slot />
    </div>
  </div>
</template>

<script>
import CourseTopBar from "../components/CourseTopBar.vue";
import { defineComponent } from "vue";

export default defineComponent({
  components: { CourseTopBar },
})

</script>