<template>
  <div>
    <div class="flex">
      <SideBar class="hidden lg:block" />
      <div class="w-full flex flex-col">
        <TopBar />
        <div class="p-4">
          <slot />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import TopBar from "../components/TopBar.vue";
import SideBar from "../components/SideBar/SideBar.vue";
import { defineComponent } from "vue";

export default defineComponent({
  components: {
    TopBar,
    SideBar
  },
  data() {
    return {
      isOpen: false
    }
  },
  methods: {
    setIsOpen() {
      this.isOpen = !this.isOpen
    }
  }
})

</script>