<template>
	<div>
		<div class="flex flex-col lg:flex-row">
			<img
				class="rounded-md w-full lg:w-[200px] mr-3 object-cover"
				src="https://img.freepik.com/free-vector/teacher-standing-near-blackboard-holding-stick-isolated-flat-vector-illustration-cartoon-woman-character-near-chalkboard-pointing-alphabet_74855-8600.jpg?size=626&ext=jpg"
			/>
			<div class="p-6">
				<p class="self-end text-xs text-primary-500">
					<i class="fa-solid fa-video mr-2" />ห้องเรียนออนไลน์
				</p>
				<div class="flex flex-col lg:flex-row text-xl my-2">
					<p class="text-primary-500 mr-5">หลักสูตรบังคับ</p>
					<p class="mr-5">ชื่อหลักสูตร</p>
					<p class="text-primary-500 mr-5">ขอต่อใบอนุญาตฯ ครั้งที่ 4 เป็นต้นไป</p>
				</div>
				<div class="flex flex-col lg:flex-row lg:items-center lg:space-x-10">
					<div class="flex flex-col lg:flex-row lg:items-center lg:space-x-5 my-2">
						<p class="text-md">หมวดวิชา</p>
						<p class="text-md text-primary-500">Pillar 1</p>
					</div>
					<div class="flex flex-col lg:flex-row lg:items-center lg:space-x-5 my-2">
						<p class="text-md">ชื่อวิชา</p>
						<p class="text-md text-primary-500">Lorem ipsum dolor sit amet</p>
					</div>
				</div>
				<div class="flex flex-col lg:flex-row lg:items-center lg:space-x-10">
					<div class="flex flex-col lg:flex-row lg:items-center lg:space-x-5 my-2">
						<p class="text-md">วันที่เรียน</p>
						<p class="text-md text-primary-500">30 กันยายน พ.ศ.2564</p>
					</div>
					<div class="flex flex-col lg:flex-row lg:items-center lg:space-x-5 my-2">
						<p class="text-md">วันที่สิ้นสุดการเรียน</p>
						<p class="text-md text-primary-500">30 กันยายน พ.ศ.2564</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script setup></script>