<template>
  <div>
    <Carousel />
    <h3 class="text-medium text-primary-500 text-xl my-3">หลักสูตรของฉัน</h3>
    <TabView :tabs="[{ label: 'หลักสูตรระหว่างดำเนินการสมัคร' }, { label: 'หลักสูตรที่กำลังเรียน' }, { label: 'หลักสูตรที่เรียนจบแล้ว' }]" />
    <RoundedBox shadow class="w-full p-6">
      <div class="flex flex-col md:flex-row items-start md:items-center justify-between">
        <div class="flex items-center">
          <DropDownMenu label="หลักสูตรบังคับ" class="my-3 mr-3" />
          <Button variant="secondary" label="หลักสูตรทั่วไป" />
        </div>
        <Sorter label="จัดเรียง" />
      </div>
      <div class="flex flex-col space-y-5 lg:space-y-0 lg:flex-row lg:space-x-10 mt-5 mb-10">
        <Radio icon="fa-video" label="ห้องเรียนออนไลน์ (วิดีโอ)"></Radio>
        <Radio icon="fa-chalkboard-user" label="ห้องเรียนออนไลน์ (สด)"></Radio>
        <Radio icon="fa-television" label="อบรมทางไกล"></Radio>
        <Radio icon="fa-school" label="ห้องเรียน"></Radio>
      </div>
      <div class="flex justify-between my-5 mx-3">
        <p class="text-lg text-gray-800">ห้องเรียนออนไลน์</p>
        <a class="text-sm underline text-primary-500" href="#">ดูคอร์สเพิ่มเติม +</a>
      </div>
      <div class="grid lg:grid-cols-3 gap-4">
        <div v-for="i in 10" :key="i">
          <PendingCourseCard percent="50" previewImageURL="https://www.olympusimaging-th.com/content/000107507.jpg" />
        </div>
      </div>
    </RoundedBox>
  </div>
</template>

<script setup>
import Carousel from "../../components/Carousel.vue";
import TabView from "../../components/TabView.vue";
import RoundedBox from "../../components/RoundedBox.vue";
import DropDownMenu from "../../components/DropDownMenu.vue";
import Sorter from "../../components/Sorter.vue";
import PendingCourseCard from "../../components/PendingCourseCard.vue";
import Button from "../../components/Button.vue";
import Radio from "../../components/Inputs/Radio.vue";

</script>